<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shop/add.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,71},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>Shop/addsubback.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,577},{264,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,60}}</string>
                <key>sourceSize</key>
                <string>{264,60}</string>
            </dict>
            <key>Shop/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,537},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>Shop/back_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{219,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{219,25}}</string>
                <key>sourceSize</key>
                <string>{219,27}</string>
            </dict>
            <key>Shop/back_main.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,760}}</string>
                <key>sourceSize</key>
                <string>{1024,760}</string>
            </dict>
            <key>Shop/btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,320},{117,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,70}}</string>
                <key>sourceSize</key>
                <string>{119,74}</string>
            </dict>
            <key>Shop/btnMove.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>Shop/buybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,201},{117,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,70}}</string>
                <key>sourceSize</key>
                <string>{119,74}</string>
            </dict>
            <key>Shop/circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,431},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>Shop/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,784},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>Shop/cloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,392},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>Shop/cloth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,325},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>Shop/dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{456,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,283}}</string>
                <key>sourceSize</key>
                <string>{456,283}</string>
            </dict>
            <key>Shop/exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,248},{50,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>Shop/hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,272},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>Shop/one_month.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,708},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>Shop/order_month.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,653},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>Shop/panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,201},{48,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,134}}</string>
                <key>sourceSize</key>
                <string>{48,134}</string>
            </dict>
            <key>Shop/panel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,112},{48,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,134}}</string>
                <key>sourceSize</key>
                <string>{48,134}</string>
            </dict>
            <key>Shop/pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,73},{211,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{211,17}}</string>
                <key>sourceSize</key>
                <string>{219,27}</string>
            </dict>
            <key>Shop/pro2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,54},{211,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{211,17}}</string>
                <key>sourceSize</key>
                <string>{219,27}</string>
            </dict>
            <key>Shop/pro3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,189},{204,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,10}}</string>
                <key>sourceSize</key>
                <string>{204,12}</string>
            </dict>
            <key>Shop/right.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,729},{82,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>Shop/select.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,498},{97,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,77}}</string>
                <key>sourceSize</key>
                <string>{97,77}</string>
            </dict>
            <key>Shop/six_month.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,632},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>Shop/strong.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,251},{117,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,72}}</string>
                <key>sourceSize</key>
                <string>{119,74}</string>
            </dict>
            <key>Shop/strongpro.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,29},{215,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{215,23}}</string>
                <key>sourceSize</key>
                <string>{219,25}</string>
            </dict>
            <key>Shop/sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,30},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>Shop/three_month.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,577},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>Shop/word.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,92},{207,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{207,95}}</string>
                <key>sourceSize</key>
                <string>{209,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shop.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a33794d5d23e8dd0be3f5dd74dfd744$</string>
            <key>textureFileName</key>
            <string>Shop.png</string>
        </dict>
    </dict>
</plist>
